
* {
    box-sizing: initial;
}

.reveal .slides {
    font-size: 55%;
}

html.bg-dornier body {
    background: url("../images/presentation/lake_large.jpg");
}
span.zuehlke-header {
    font-size: 24pt;
}
span.zuehlke-header:before {
    content: "Boom - ";
    font-weight: normal;
    color: #dddddd;
}

html.zuehlke-bg-parallax body {
    background-image: url("../images/presentation/sidney_night.jpg");
}

/* Style for print parallax */
body.print-pdf section.zuehlke-bg-parallax{
    /*Make sure paralax background is visible when print mode is active*/
    background: url("../../images/presentation/sidney_night.jpg");
    background-size: auto 100%;
    background-repeat: no-repeat;
}

table.boom-table {
    border-collapse: collapse;
}

table.boom-table thead tr th {
    color: #FE6100;
    border-bottom: 1px solid #dddddd;
    font-size: 110%;
}

table.boom-table td.voting-table-title {
    width: 520px;
}

table.boom-table td.voting-table-vote {
    text-align: right;
}

table.boom-table td {
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #dddddd;
}
table.boom-table td input, 
table.boom-table td textarea{
    height: 50px;
    width: 100%;
    font-size: 100%;
    vertical-align: middle;
}

table.boom-table td input.votes {
    width: 50px;
    text-align: right;
}

table.boom-table span.disabled {
    text-decoration: line-through;
    color: #ddd;
}
table.boom-table tr button {
    margin: 5px;
}

table.boom-table tr.selected {
    background-color: #eee;
}

span.highlight {
    color: #985b9c;
}

section.scrollable {
    overflow-y: auto;
    height: 500px;
}


button.punch {
    background: #4162a8;
    border-top: 1px solid #38538c;
    border-right: 1px solid #1f2d4d;
    border-bottom: 1px solid #151e33;
    border-left: 1px solid #1f2d4d;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 10px 1px #5c8bee, 0 1px 0 #1d2c4d, 0 6px 0 #1f3053, 0 8px 4px 1px #111111;
    box-shadow: inset 0 1px 10px 1px #5c8bee, 0 1px 0 #1d2c4d, 0 6px 0 #1f3053, 0 8px 4px 1px #111111;
    color: #fff;
    margin-bottom: 10px;
    padding: 15px;
    text-align: center;
    text-shadow: 0 -1px 1px #1e2d4d;
    -webkit-background-clip: padding-box; 
    margin-top: 25px;
}

button.punch:hover {
    -webkit-box-shadow: inset 0 0 20px 1px #87adff, 0 1px 0 #1d2c4d, 0 6px 0 #1f3053, 0 8px 4px 1px #111111;
    box-shadow: inset 0 0 20px 1px #87adff, 0 1px 0 #1d2c4d, 0 6px 0 #1f3053, 0 8px 4px 1px #111111;
    cursor: pointer;
}
 
 button.punch:active {
    -webkit-box-shadow: inset 0 1px 10px 1px #5c8bee, 0 1px 0 #1d2c4d, 0 2px 0 #1f3053, 0 4px 3px 0 #111111;
    box-shadow: inset 0 1px 10px 1px #5c8bee, 0 1px 0 #1d2c4d, 0 2px 0 #1f3053, 0 4px 3px 0 #111111;
    margin-top: 33px; 
}
