<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">

    <title>.: Boom :.</title>

    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />

    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

    <link rel="stylesheet" href="css/reveal.css">

    <link rel="icon" href="images/favicon.png" type="image/png" />
    <link rel="shortcut icon" href="favicon.ico" />
    <link rel="stylesheet" href="css/theme/zuehlke.css" id="theme">
    <link rel="stylesheet" href="css/bootstrap-3.2.0-dist/css/bootstrap.css">
    <link rel="stylesheet" href="css/bootstrap-3.2.0-dist/css/bootstrap-theme.css">

    <link rel="stylesheet" href="../bower_components/font-awesome/css/font-awesome.css" />
    <link href="../bower_components/AngularJS-Toaster/toaster.css" rel="stylesheet" />

    <link rel="stylesheet" href="css/presentation.css" id="theme">

    <!-- For syntax highlighting -->
    <link rel="stylesheet" href="lib/css/zenburn.css">

    <!-- If the query includes 'print-pdf', include the PDF print sheet -->
    <script>
        if (window.location.search.match(/print-pdf/gi)) {
            var defaultStylesheet = createStylesheetLink('css/print/pdf.css'),
                zuehlkeStylesheet = createStylesheetLink('css/print/pdf-zuehlke.css');

            document.getElementsByTagName('head')[0].appendChild(defaultStylesheet);
            document.getElementsByTagName('head')[0].appendChild(zuehlkeStylesheet);
        }

        function createStylesheetLink(href) {
            var link = document.createElement('link');
            link.rel = 'stylesheet';
            link.type = 'text/css';
            link.href = href;

            return link;
        }
    </script>
    
    
    <script src="../bower_components/angular/angular.js"></script>
    <script src="../bower_components/angular-resource/angular-resource.js"></script>

    <script src="lib/js/linqjs/linq.js"></script>
    <script type="text/javascript" src="../bower_components/qrcode/lib/qrcode.min.js"></script>
    <script type="text/javascript" src="../bower_components/angular-qr/angular-qr.min.js"></script>
    <script src="../bower_components/angular-animate/angular-animate.js"></script>
    <script src="../bower_components/AngularJS-Toaster/toaster.js"></script>

    <script src="js/app.js"></script>
    <script src="js/restapi.js"></script>
	<script src="js/backlogService.js"></script>
    <script src="js/backlogCtrl.js"></script>
    <script src="js/backlogDetailsCtrl.js"></script>
    <script src="js/surveyCtrl.js"></script>
    <script src="js/surveyOptionsService.js"></script>
    <script src="js/revealService.js"></script>

</head>

<body ng-app="boom">

    <toaster-container></toaster-container>

    <div class="reveal">

        <!-- Any section element inside of this container is displayed as a slide -->
        <div class="slides">
            <span id="zuehlke-header" class="zuehlke-header hide"></span>
            <section>
                <div class="zuehlke-center" style="margin-top: 30px;">
                    <div class="zuehlke-zuerfel"></div>
                    <div style="margin-top: 40px; font-weight: bold; letter-spacing: 0.2em;">Boom</div>
                    <div style="margin-top: 10px; font-size: 0.6em">Team Web</div>
                </div>
            </section>

            <!-- Backlog Slide -->
            <section ng-cloak ng-controller="BacklogCtrl as ctrl" class="scrollable" data-title="Backlogs" data-slide-name="BacklogSlide">
                <table class="table boom-table">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th width="50px">&nbsp;</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="backlog in ctrl.backlogs" ng-click="ctrl.selectBacklog(backlog)" ng-class="{selected: ctrl.isBacklogSelected(backlog)}">
                            <td><span>{{backlog.Name}}</span></td>
                            <td>
                                <a ng-click="ctrl.removeBacklog(backlog)"><span class="fa fa-trash"></span></a>
                            </td>
                        </tr>
                        <tr>
                            <td><input type="text" placeholder="Name" ng-model="ctrl.newBacklog.Name" /></td>
                            <td><button type="button" class="btn" ng-click="ctrl.addBacklog()" ng-disabled="ctrl.newBacklog.Name == false"><span class="fa fa-plus"></span></button></td>
                        </tr>
                    </tbody>
                </table>
            </section>

            <!-- Backlog Details Slide -->
            <section ng-cloak ng-controller="BacklogDetailCtrl as ctrl" class="scrollable" data-title="Backlog Content" data-slide-name="BacklogContentSlide">
                <table class="table boom-table">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th width="120px">&nbsp;</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="option in ctrl.options">
                            <td class="voting-table-title"><span ng-class="{disabled: option.disabled}">{{option.Description}}</span></td>
                            <td>
                                <span ng-click="ctrl.notNowOption(option)" ng-hide="option.disabled" class="fa fa-toggle-on"></span>
                                <span ng-click="ctrl.nowOption(option)" ng-show="option.disabled" class="fa fa-toggle-off"></span>
                                <span ng-click="ctrl.removeOption(option)" class="fa fa-trash-o"></span>
                            </td>
                        </tr>
                        <tr>
                            <td><input type="text" placeholder="Description" ng-model="ctrl.newOption.Description" /></td>
                            <td><button type="button" class="btn" ng-click="ctrl.addOption()" ng-disabled="ctrl.isNewOptionValid() == false">Hinzufügen</button></td>
                        </tr>
                    </tbody>
                </table>
            </section>
            
            <section>
                <section data-title="Regeln" class='left'>
                    <h2>Die Regeln</h2>
                    <ol>
                        <li>Jeder bekommt <span class="highlight">zwei Stimmen</span></li>
                        <li>Die beiden Stimmen müssen <span class="highlight">auf verschiedene Vorträge aufgeteilt</span> werden</li>
                        <li>Stimmenthaltung gibt es im Team Web nicht</li>
                    </ol>
                </section>
            </section>

            <!-- Survey Start Slide -->
            <section ng-cloak ng-controller="SurveyCtrl as ctrl" class="scrollable" data-title="Abstimmung" data-slide-name="SurveyStartSlide">
                <div class="row">
                    <div class="col-md-6">

                        <div class="row">
                            <h2>Teilnehmer</h2>
                        </div>

                        <div class="row" ng-repeat="participant in ctrl.participants">
                            <div class="col-md-6">
                                {{participant.Name}}
                            </div>
                        </div>

                        <!--<div class="row">
                            <div class="col-md-6">
                                ozu
                            </div>
                            <div class="col-md-6">
                                iszu
                            </div>
                        </div>-->
                        
                    </div>

                    <div class="col-md-6">
                        <qr text="ctrl.qrCodeText"></qr>
                        <br />
                        <button type="button" class="punch" ng-click="ctrl.startSurvey()">Abstimmung starten</button>
                    </div>
                </div>
            </section>
        </div>

    </div>

    <script src="lib/js/head.min.js"></script>
    <script src="js/reveal.min.js"></script>

    <script>
        // Full list of configuration options available here:
         // https://github.com/hakimel/reveal.js#configuration
        Reveal.initialize({
            controls: true,
            progress: true,
            history: true,
            center: true,
            overview: false,

            theme: Reveal.getQueryHash().theme, // available themes are in /css/theme
            transition: Reveal.getQueryHash().transition || 'default', // default/cube/page/concave/zoom/linear/fade/none

            // Parallax scrolling
            // parallaxBackgroundImage: 'images/presentation/sidney_night.jpg',
            // parallaxBackgroundSize: '5241px 1116px',

            // Optional libraries used to extend on reveal.js
            dependencies: [{
                src: 'lib/js/classList.js',
                condition: function() {
                    return !document.body.classList;
                }
            }, {
                src: 'plugin/markdown/marked.js',
                condition: function() {
                    return !!document.querySelector('[data-markdown]');
                }
            }, {
                src: 'plugin/markdown/markdown.js',
                condition: function() {
                    return !!document.querySelector('[data-markdown]');
                }
            }, {
                src: 'plugin/highlight/highlight.js',
                async: true,
                callback: function() {
                    hljs.initHighlightingOnLoad();
                }
            }, {
                src: 'plugin/zoom-js/zoom.js',
                async: true,
                condition: function() {
                    return !!document.body.classList;
                }
            }, {
                src: 'plugin/notes/notes.js',
                async: true,
                condition: function() {
                    return !!document.body.classList;
                }
            }, {
                src: 'plugin/zuehlke/zuehlke.js',
                condition: function() {
                    return true;
                }
            }, {
                src: 'plugin/chart/chart.js',
                async: false,
                condition: function() {
                    return true;
                }
            }, {
                src: 'js/presentation.js',
                async: false,
                condition: function() {
                    return true;
                }
            }]
        });
    </script>

</body>

</html>
