<ion-view title="{{survey.Name}}">
    <ion-content has-header="true" padding="true">
        <div ng-hide="hasJoined()">
            <form role="form">
                <label class="item item-input">
                    <input type="text" required placeholder="Nickname" ng-model="participant.Nickname"/>
                </label>
                <button type="submit" class="button button-block button-positive" ng-click="participate(participant)">
                    Participate
                </button>
            </form>
        </div>
        <div ng-show="hasJoined()">
            <ion-list>
                <ion-item ng-repeat="option in survey.Options" type="item-text-wrap">
                    <label class="checkbox">
                        <input type="checkbox">
                    </label>
                    {{option.Name}}
                </ion-item>
            </ion-list>
            <button class="button button-block button-positive">
                Block Button
            </button>
        </div>
    </ion-content>
</ion-view>