<!-- 
  Create tabs with an icon and label, using the tabs-positive style. 
  Each tab's child <ion-nav-view> directive will have its own 
  navigation history that also transitions its views in and out.
-->
<ion-tabs class="tabs-icon-top">

    <!-- Surveys Tab -->
    <ion-tab title="Surveys" icon="icon ion-home" href="#/tab/surveys">
        <ion-nav-view name="tab-surveys"></ion-nav-view>
    </ion-tab>

    <!-- Scan new survey-->
    <ion-tab title="Scan Survey" icon="icon ion-camera" href="#/tab/scanSurvey">
        <ion-nav-view name="tab-scan"></ion-nav-view>
    </ion-tab>

    <!-- Results Tab -->
    <ion-tab title="Results" icon="icon ion-stats-bars" href="#/tab/results">
        <ion-nav-view name="tab-results"></ion-nav-view>
    </ion-tab>

</ion-tabs>
